/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jun-2024, 13:14:21
    Author     : Thienlm30
*/

.table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    background-color: #f3f4f6; 
    padding: 20px;
}

.table-wrapper {
    width: 80%; 
    margin: 0 auto;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow-x: auto; 
    padding: 3.125em;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-wrapper th {
    background-color: #f2f2f2;
}


.table-wrapper button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.table-wrapper button.update {
    background-color: #007bff; 
}

.table-wrapper button.deactivate {
    background-color: #28a745;
}

.table-wrapper button.delete {
    background-color: #dc3545;
}

.table-wrapper button:hover {
    opacity: 0.9;
}